@charset "utf-8";
/* CSS Document */


/*     banner     */
.floatBox-top{
	height:80px;
	}

.floatBox{
	/* color: #000; */
}	

/*      main      */
.main-x{
	height: 1000px;
	background: #f2f2f2;
}

.main-join{
	padding: 30px 0 100px;
	margin:0 auto;
	width: 1366px;
}

.main-join-title{
	width: 1306px;
	height:60px;
	line-height:60px;
	margin: 0 auto;
	}	

.main-join-title span{
/*	width:70px;
	height:60px;
	display:block;*/
	line-height:60px;
	float:right;
	margin-right: 22px;
	}
	
.main-join-list{
		width:1366px;
		height:auto;
		clear:both;
	}
	
.main-join-list li{
	width: 663px;
	height: 80px;
	background: #fff;
	border-radius: 10px;
	float: left;
    margin: 0 20px 20px 0;
	position: relative;
}

.main-join-list .main-join-list-title{
	border-radius: 10px;
	height: 100%;
	box-shadow: 0 5px 5px #ccc;
	cursor: pointer;
}

.main-join-list .main-join-list-title p{
	width: 623px;
	height: 100%;
	line-height: 80px;
	padding: 0 20px;
	font-size: 18px;
}

.main-join-list .main-join-list-title p span{
	float: right;
	line-height: 80px;
}

.main-join-list .main-join-list-detail{
	display: none;
	z-index: 999;
	color: #fff;
	position: absolute;
	top: 80px;
	left: 20px;
    width: 563px;
    padding: 0 30px 20px;
    background-color: rgba(0,0,0,0.5);
}

.main-join-list .mainJoinListDetailShow{
	display: block !important;
}

.main-join-list .main-join-list-detail p{
	line-height: 20px;
	font-family: "宋体";
}

.main-join-list .main-join-list-detail p strong{
	font-size: 20px;
	line-height: 30px;
	display: block;
	font-family: "黑体";
}


/* .main-join-list dt{
	width: 1302px;
	height: 45px;
	padding: 0 32px;
	line-height:45px;
	background:url(../images/bg_join_title_2.png) no-repeat right;
	background-position-x: 1333px;
	background-color: #f3f3f3;
	border: 2px solid #f3f3f3;
    border-left: 0;
    border-right: 0;
	}
	 
.main-join-list dt{
	font-weight: 900;
}

.main-join-list dt:hover{
	cursor: pointer;
}

.main-join-list .dtOddOn{
	background:url(../images/bg_join_title_1.png) no-repeat right;
	background-position-x: 986px;
	background-color:  #CB9B0C !important;
    color: #fff;
}

.main-join-list .dtEvenOn{
	background:url(../images/bg_join_title_1.png) no-repeat right;
	background-position-x: 986px;
	background-color:  #CB9B0C !important;
    color: #fff;
}

.main-join-list dt span{
	float: right;
	line-height:45px;
	margin-right: 16px;
	font-weight:100;
}
	
.main-join-list dd{
	width:980px;
	height:auto;
	margin:20px;
	background: #f7f7f7;
	}	
	
.main-join-list dd p{
	line-height: 26px;
	}	 */